<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="users">
	<%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <%= render partial: 'shared/micropost_content', object: feed_item %>
</li>
